
*.lock
*.ide
*.ide-shm
*.ide-wal
*.cache
crypto-bot/.vs/crypto-bot/v15/.suo
*.exe
*.config
*.pdb
*.dll
*.xml
*.CopyComplete
*.txt
*.p7s
*._
crypto-bot/crypto-bot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
